@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white text-neutral-900 font-sans leading-relaxed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

a {
  @apply text-blue-600 hover:underline transition duration-150;
}

section {
  @apply px-4 md:px-16 py-12;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold text-neutral-800;
}

h1 {
  @apply text-4xl md:text-5xl mb-4;
}

h2 {
  @apply text-3xl md:text-4xl mb-4;
}

h3 {
  @apply text-2xl md:text-3xl mb-2;
}

h4 {
  @apply text-xl md:text-2xl;
}

p {
  @apply text-base text-neutral-700 leading-7;
}

ul {
  @apply list-disc list-inside text-neutral-700;
}

button {
  @apply rounded-full bg-neutral-900 text-white px-6 py-2 hover:bg-neutral-700 transition duration-200;
}

img {
  @apply max-w-full h-auto;
}

input,
textarea {
  @apply border border-neutral-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.container {
  @apply max-w-screen-xl mx-auto px-4;
}

.text-link {
  @apply text-blue-600 hover:text-blue-800;
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

@layer utilities {
  .animate-fade-in-down {
    animation: fade-in-down 0.2s ease-out forwards;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bg-texture {
  background-image: url('/Texture.png');
  background-size: cover;
  background-position: center;
}
